aiohttp
aiohttp-socks
beautifulsoup4
binwalk
colorama
dnspython
duckdb
hachoir
hashid
kreuzberg
lupa
mutagen
networkx
olefile
oletools
paketlib
pefile
pillow
pdfid
pyexiv2
pymongo
PyQt6
PyQt6-WebEngine
PySocks
python-magic
requests
truststore
tinytag
xattr; sys_platform != 'win32'
osmnx
protobuf
httpx[http2]
numpy
opencv-python-headless
cryptography
pycryptodomex
