aiohttp
aiohttp-socks
beautifulsoup4
binwalk
colorama
dnspython
duckdb
Faker
fake-useragent
hachoir
hashcat
hashid
kreuzberg
lupa
mutagen
networkx
olefile
oletools
paketlib
pefile
phonenumbers
pillow
pdfid
playwright
pyexiv2
pymongo
PyQt6
PyQt6-WebEngine
PySocks
pystyle
python-magic
python-nmap
python-whois
requests
scapy
selenium
tinytag
torpy
wordcloud
xattr
osmnx
geopandas
protobuf
httpx[http2]
