aiohttp
aiohttp-socks
beautifulsoup4
colorama
dnspython
Faker
fake-useragent
gevent
hashcat
hashid
locust
lupa
paketlib
phonenumbers
playwright
pyTelegramBotAPI
PyQt6
PyQt6-WebEngine
python-nmap
python-whois
PySocks
pystyle
requests
scapy
selenium
torpy
